body 
{
}

.issueTable 
{
	text-align: left;
	vertical-align: top;
}

.issueTableHeader 
{
	text-align: right;
	font-weight: bold;
	padding-right: 1em;
	padding-left: 1em;
}

.issueTableContent 
{
	text-align: left;
	padding-right: 1em;
}
