<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="FilesFragment">
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Component Id="CreateTargetDirectory" Guid="3A225227-B934-4132-B0A0-65FFA011B171" DiskId="1" >
        <CreateFolder />
      </Component>

      <Component Id="MainFilesComponent" Guid="DAAA6F31-E141-4998-8030-6A7E740E041D" DiskId="1">
        <File Id="PackageDll" Name="pkg.dll" LongName="plvs.dll" Source="$(var.plvs.TargetDir)plvs.dll" Vital="yes" DiskId="1"/>
        <!--//TODO: Add other files and references-->
        <File Id="Readme.htm" Name="Readme.htm" Source="Files\Readme.htm" Vital="yes" DiskId="1">
          <Shortcut Id="ReadmeShortcut" Directory="ProgramMenuShortcutDirectory" Name="Readme" Icon="ProductIcon" IconIndex="0" Show="normal" WorkingDirectory="TARGETDIR" />
        </File>
        <RemoveFolder Directory="ProgramMenuShortcutDirectory" On="uninstall" Id="ShortcutRemoveFolder" />
      </Component>
      
      <Directory Id="ProgramMenuFolder" SourceName="USER'S" LongSource="User's Programs Menu">
        <Directory Id="ProgramMenuShortcutDirectory" Name="Product" LongName="$(loc.ProductName)" />
      </Directory>
      
      <!--VS Templates-->
      <!--<Directory Id="VSINSTALLDIR">
        <Directory Id="ItemTemplatesDirectory" Name="ItemTemp" LongName="ItemTemplates">
          <Directory Id="GeneralDirectory1" Name="General">
            <Directory Id="_1033Directory1" Name="1033">
              <Component Id="ItemTemplatesFilesComponent" Guid="23FC70EB-DC74-444B-B2DC-8432D552C799" DiskId="1">
                //TODO: Add item templates to be installed
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="ProjectTemplatesDirectory" Name="ProjTemp" LongName="ProjectTemplates">
          <Directory Id="GeneralDirectory2" Name="General">
            <Directory Id="_1033Directory2" Name="1033">
              <Component Id="ProjectTemplatesFilesComponent" Guid="A936BBC7-016B-47A4-9B3D-ABF2A2D3F979" DiskId="1">
                //TODO: Add project templates to be installed
              </Component>
            </Directory>
          </Directory>
        </Directory>        
      </Directory>-->
      
      <!--Xsd Schemas-->
      <!--<Directory Id="VSROOTDIR">
        <Directory Id="XmlDirectory" Name="xml">
          <Directory Id="SchemasDirectory" Name="schemas">            
            <Component Id="XsdFilesComponent" Guid="C976F283-A195-4E75-AC16-4DED44D00B64" DiskId="1">
              //TODO: Add xsd schemas to be installed
            </Component>
          </Directory>
        </Directory>
      </Directory>-->
    </Directory>
	</Fragment>
</Wix>
