<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="PackageRegistryEntriesFragment">
    <DirectoryRef Id="TARGETDIR">
      <Component Id="PackageRegistryEntriesComponent" Guid="48A23D19-0D2C-4C94-B616-610796E03172">
        <?include PackageRegistry.wxi ?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
